<h1> Item </h1>

<h4> Handle: <%= @dspace_obj.handle %> </h4>

<h3> Metadata </h3>
<ul>
    <% attributes = @dspace_obj.metadata
       @config[:item_display][:detail_metadata_list].each do |md| %>
        <li class="<%= md_to_class(md)%>">
            <span class="text-primary">
                <%= md %>:
            </span>
            <%= attributes[md] %>
        </li>
    <% end %>
</ul>


<h3> Bitstreams </h3>
<ul>
    <% if (@bitstreams.empty?) then %>
        <li> None</li>
    <% else %>
        <% @bitstreams.each do |bit| %>
            <li>
                <%= link_to bit.name, bitstream_path(bit.id) %>
            </li>
        <% end %>
    <% end %>
</ul>

