<div class="debug">

  <p>
    params: <%= params.inspect %>
  </p>
   <p>
     rendering starts at: app/views/layouts/<%= params['layout']%>.html.erb
  </p>
  <p>
    key method_trace:
    <%= debug_inspect(@cc_method_trace) %>
  </p> 
  <div> instance_variables</div>

  <ul>
    <% self.instance_variables.sort.each do |v| %>
        <% name = v.id2name;
           next if name.start_with?("@_")
           next if %w(@view_flow @view_renderer @output_buffer @virtual_path).index(name)
           next if %w(@marked_for_same_origin_verification @output_buffer).index(name) %>
        <li>  <%= v.id2name %> :: <%= debug_inspect(self.instance_variable_get(v)) %>  </li>
    <% end %>
  </ul>
</div>
