
<h1> Community: <%= @c_dspace_obj.name %> </h1>

<%= content_tag('p', @c_config[:collection_description]) if @c_config[:collection_description] %>

<h4> Handle: <%= @c_dspace_obj.handle %> </h4>

<h2> Subommunities </h2>

<ul>
    <% @c_communities.each do |com| %>
        <li><%= link_to com.name, community_path(com.id)  %>
        </li>
    <% end %>
</ul>

<h2> Collections </h2>

<ul>
    <% @c_collections.each do |col| %>
        <li>
            <%= link_to col.name, collection_path(col.id)  %>
        </li>
    <% end %>
</ul>

