<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to @c_config[:app_name], root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><%= link_to "About", about_path %> </li>
                <li> <%= mail_to @c_config[:contact_email], "Contact" %> </li>
                <% if @explore_communities then %>
                    <li class="dropdown">
                        <a aria-expanded="false"
                           aria-haspopup="true" role="button"
                           data-toggle="dropdown" class="dropdown-toggle" href="#">Explore
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% @explore_communities.each do |com| %>
                                <li><%= link_to com.name, community_path(:id => com.id) %></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
                <li>
                    <%= link_to 'Search', search_path %>
                </li>
                <li>
                    <% if user_signed_in? then %>
                        <%= link_to "Logout #{current_user.email}", destroy_user_session_path, :method => :delete %>
                    <% else %>
                        <%= link_to 'Login', new_user_session_path %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
