<!DOCTYPE html>
<html>
<head>
    <title><%= @config[:app_name] %></title>
</head>

<body class='<%= "action_#{params['action']}" %> <%= "controller_#{params['controller']}" %>'>
    <div>
        <%= yield %>
    </div>
    <%= render partial: 'application/debug' %>

</body>
</html>
